
.camera {
    margin-top: 2.5%;
    margin-left: 80%;
	width: 200px;
    height: 150px;
    border-radius: 10px;
}
#eyes {
    position: relative;
    top: 0;
    right: 0;
}
#videoElement, #faceoverlay {
    position: absolute;
    top: 0;
    left: 60%;
    border-radius: 10px;
}
#train {
    position: absolute;
    top: 0;
    left: 60%;

    font-size: 24pt;
}
#target {
        background-color: lightgreen;
        position: absolute;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        transition: all 0.1s ease;
        box-shadow: 0 0 20px 10px white;
        border: 4px solid rgba(0,0,0,0.5);
        z-index: 10;
    }
.overlay {
    position: fixed;
    margin-top: -10vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 228, 204);
}

#form {
    margin-top: 10vh;
    margin-left: 5vw;
}

.rendered {
    margin-bottom: 2.5vh;
}

html {
    background-color: rgb(234, 228, 204);
}
